<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/amaltson/" target="_blank">@amaltson</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/amaltson/" target="_blank">@amaltson</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://linkedin.com/in/amaltson" target="_blank">linkedin.com/in/amaltson</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://devblog.maltson.com/" target="_blank">devblog.maltson.com</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://til.maltson.com/" target="_blank">til.maltson.com</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://blog.maltson.com/" target="_blank">blog.maltson.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:arthur@maltson.com" target="_blank">arthur@maltson.com</a></p>
